<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VVEX.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.1.27</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
				<key>dateExpires</key>
				<string>2024/3/13</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>quick_actions_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>system_proxy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B4FD745BF80F7FEB4DEDB388246949F7C31F1E</string>
						<key>dateExpires</key>
						<string>2024/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RN352BA826</string>
						<key>name</key>
						<string>Beijing Hongkui Education Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RN352BA826.com.guozhigq.vvex</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>RN352BA826</string>
				<key>com.apple.developer.user-fonts</key>
				<array>
					<string>app-usage</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ad2c65cd-9a85-4870-bafe-26294841f8ee</string>
				<key>dateExpires</key>
				<string>2024/3/13</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.guozhigq.vvex</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RN352BA826</string>
				<key>name</key>
				<string>Beijing Hongkui Education Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.27</string>
		</dict>
	</array>
</dict>
</plist>
